# Python / Django
__pycache__/
*.pyc
db.sqlite3

# Env
.env
*.env

# Virtual Environment
env/
venv/
ENV/

# --- MEDIA ---
media/
static/assets/videos/*.mp4

# --- TOOLS ---
static/tailwindcss.exe

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/